.header {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding-left: 4rem;
  padding-right: 4rem;
}

.headerCart {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.headerCartIcon {
  font-size: 60px;
  color: lightblue;
  text-shadow: 2px 2px 4px #000000;
  width: 1.5rem;
  height: 1.5rem;
}

.headerCartCount {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(6, 160, 160);
}
