.header {
  display: flex;
  justify-content: space-between;
  background-color: #203b3b;
  padding-left: 4rem;
  padding-right: 4rem;
}

.headerLogo {
  color: azure;
}

.headerCart {
  width: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.headerCart:hover {
  box-shadow: 0 3px 12px rgba(255, 255, 255, 0.414),
    0 3px 12px rgba(255, 255, 255, 0.514);
}

.headerCartIcon {
  font-size: 60px;
  color: lightblue;
  text-shadow: 2px 2px 4px #000000;
  width: 1.5rem;
  height: 1.5rem;
}

.headerCartCount {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(6, 160, 160);
  color: #ffffff;
}
